.form-wrapper{
    width: 300px;
    margin-left: 100px;
    margin-top: 120px !important;
}
.breaking-line{
    display: flex;
    
}
.button-fp{
    border: none;
    background-color: white;
    text-decoration: none;
    color: red;

}