.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 100px;
    align-items: center;

}

.banner p{
    width: 90%;
    text-align: justify; 
}
.button{
    background-color: rgb(108, 153, 236);
}

/* codes for responsive the banner*/
@media only screen and (max-width: 570px) {
    .banner{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
    }
    .text h2, p{
        
        text-align: center; 
        
    }
    .banner .text{
        width: 90%;
        margin-left: 5%;
        margin-bottom: 50px;
    }

  }
